@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#logo{
    width: 250px;
    border-radius: 20px;
    color:#f8f9fa;
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    text-shadow: 4px 2px 2px black;
}

#noteText{
    height: 7rem;
}
