@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#logo{
    width: 250px;
    border-radius: 20px;
    color:#f8f9fa;
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    text-shadow: 4px 2px 2px black;
}

#noteText{
    height: 7rem;
}

#addon-wrapping{
    font-family: 'Lora', serif;
    font-weight: 800;
}

.scrollable{
    height: 6.25rem;
    overflow: hidden;
    overflow-y: auto;
}

.noNotes{
    border: 2px dashed #dc3545;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-weight: 750;
    font-size: 1rem;
}

/* Footer styling */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#dc3545;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#dc3545;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#dc3545;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }

}
